*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/docs/Tailwind.md
/docs/Tasks
/resources/views/hello.blade.php
/resources/views/welcomeName.blade.php
/docs/Extensions.md
/docs/DBML_Syntax.md
/docs/Our_Steps.md
/.dbdiagram
/database-design/schema.dbdiagram
/docs/.obsidian
/docs/MariaDB_Cheatsheet.md
/docs/BackEnd_Structure/
/app/Http/Controllers/TestController.php
/app/Http/Controllers/UserController.php
/app/Http/Middleware/IsRoadmapHubUser.php
/scripts